@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 99vh;
    width: 100vw;
}

textarea {
    padding-top: 10px;
    padding-left: 10px;
    resize: none;
    outline: none;
}

#app {
    height: 100%;
    width: 100%;
}