.Box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Title {
    font-size: 1.5em;
    font-weight: bold;
    width: fit-content;

    color: gray;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
}

.Footer {
    font-size: 0.8em;
    color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Button { 
    height: 50px;
    width: 50px;   
}
.Overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}